<ul class="navbar">

  <li class="navbar" style="border-bottom: solid #00cccc 1px; margin: 1em;"><a href="<%= static_pages_path %>"><%= image_tag 'test.png', size: 200, class: 'img-responsive' %> </a></li>

  <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= about_path %>"><%= image_tag 'abouti.png', width: 100, class: 'img-responsive' %></a><%= link_to 'About', about_path %></li>

  <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= contact_path %>"><%= image_tag 'contact-phone-icon-4.png', width: 100, class: 'img-responsive' %></a><%= link_to 'Contact', contact_path %></li>

  <% if !user_signed_in? %>

    <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= new_user_session_path %>"><%= image_tag 'login.png', class: 'img-responsive', size: 100 %></a><%= link_to 'Log In', new_user_session_path %></li>

    <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= new_user_registration_path %>"><%= image_tag 'signup.png', class: 'img-responsive', size: 100 %></a><%= link_to 'Sign Up', new_user_registration_path %></li>

  <% else %>

    <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;>"><a href="<%= edit_user_registration_path %>"><%= image_tag('editprofile.png', class: 'img-responsive', size: 100) %></a><%= link_to 'Edit Profile', edit_user_registration_path %></li>

    <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= destroy_user_session_path %>" data-method="delete" data-confirm="Are you sure?"><%= image_tag 'signout.png', size: 100, class: 'img-responsive' %></a><%= link_to('Sign Out', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}) %></li>

  <% end %>
</ul>