<ul class="navbar cf">
  <li class="navbar" style="padding: 1em;"><a href="<%= '/' %>"><%= image_tag 'test.png', size: 200, class: 'img-responsive' %> </a></li>
  <li class="text-center" style="color: darkslategray; font-size: 24px; padding: 1em;"><a href="<%= about_path %>"><%= image_tag 'abouti.png', width: 100, class: 'img-responsive' %></a>About Us</li>
  <li class="text-center" style="color: darkslategray; font-size: 24px; padding: 1em;"><a href="<%= contact_path %>"><%= image_tag 'contact-phone-icon-4.png', width: 100, class: 'img-responsive' %></a>Contact Us</li>
</ul>