<ul class="navbar cf">
  <li><a href="<%= '/' %>"><%= image_tag 'test.png', size: 300, class: 'img-responsive' %> </a></li>

  <li><a href="<%= about_path %>"><%= image_tag 'about.png', width: 200, class: 'img-responsive' %></a></li>
  <li><a href="<%= contact_path %>"><%= image_tag 'contact.png', width: 200, class: 'img-responsive' %></a></li>
</ul>