<ul class="navbar cf">
  <li class="navbar" style="border-bottom: solid #00cccc 1px; margin: 1em;"><a href="<%= '/' %>"><%= image_tag 'test.png', size: 200, class: 'img-responsive' %> </a></li>
  <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= about_path %>"><%= image_tag 'abouti.png', width: 100, class: 'img-responsive' %></a>About Us</li>
  <li class="text-center" style="border-bottom: solid #00cccc 1px; color: darkslategray; font-size: 24px; margin: 1em;"><a href="<%= contact_path %>"><%= image_tag 'contact-phone-icon-4.png', width: 100, class: 'img-responsive' %></a>Contact Us</li>

  <li class="text-center" style="border-bottom: solid #00cccc 1px; font-size: 24px; color: darkslategray; margin: 1em;"><a href="<%= new_user_session_path %>"><%= image_tag 'loginp.png', style: 'background: gray;', class: 'img-responsive', width: 100; %></a>Log In</li>

  <li class="text-center" style="border-bottom: solid #00cccc 1px; font-size: 24px; color: darkslategray; margin: 1em;"><a href="<%= new_user_session_path %>"><%= image_tag 'signout.png', class: 'img-responsive', width: 100; %></a>Log In</li>
</ul>