<!DOCTYPE html>
<html>
  <head>
    <title>Mimosas</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav'%>
  <ul class="" style="float: left; list-style: none;">
    <span style="font-family: 'Courgette', cursive;
     font-size: 24px; color: #666769; text-decoration: underline">Visit  Us</span>
    <li style="margin: 1rem;"><a href="https://www.instagram.com/mimosasandnails/?hl=en"><%= image_tag 'instagram.png', class: 'img-responsive', size: 50 %></a></li>

    <li style="margin: 1rem;"><a href="https://www.instagram.com/mimosasandnails/?hl=en"><%= image_tag 'fb.png', class: 'img-responsive', size: 50 %></a></li>
  </ul>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>