<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: url(<%= @admin.first.background %>) center center no-repeat; background-size: cover;">
  <%= render 'layouts/nav'%>
  <div class="container">
    <%= image_tag @admin.first.random, class: 'img-responsive', style: 'margin-left: auto; margin-right: auto;'%>
    <% if user_signed_in? && current_user.role == 'admin' %>
      <%= link_to 'Edit Pictures', edit_user_registration_path, class: 'btn btn-warning' %>
    <% end %>
    <%= yield %>
    <h1 class="text-center"></h1>
    <% unless current_page?('/careers') || current_page?('/users/edit') || current_page?("/careers/#{params[:id]}") || current_page?('/users/sign_up') || current_page?('/users/sign_out') || current_page?('/users/sign_in') || current_page?('/careers') %>
      <h1 class="text-center"><%= yield(:title) %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam volutpat commodo. Tortor at auctor urna nunc id cursus. Volutpat blandit aliquam etiam erat velit. Vitae et leo duis ut diam quam. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Quisque sagittis purus sit amet volutpat consequat mauris nunc. Nulla malesuada pellentesque elit eget gravida cum. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Accumsan in nisl nisi scelerisque eu ultrices. Diam vulputate ut pharetra sit. Viverra orci sagittis eu volutpat. Ipsum dolor sit amet consectetur adipiscing elit pellentesque. Leo in vitae turpis massa sed elementum. Habitant morbi tristique senectus et netus et malesuada.
    </p>

    <% end %>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>